<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ejemplo de modal con promoción</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/modal.css">
</head>

<body>

    <header>
        <div class="header-container">
            <div class="header-text">
                <span>MedicareForAmericans</span>.net
            </div>
        </div>
    </header>
    <section class="page1">
        <div class="promo-info-container">
            <div class="promo-headline">
                <h1>Medicare recipients are claiming up to $3,300 per month!</h1>
            </div>
            <div class="promo-text">
                UPDATE your plan this week to receive a monthly allowance for Bills, Groceries, Healthcare, and MORE!
            </div>
            <div class="promo-video-container">
                <div class="promo-video">
                    <video autoplay muted loop poster="/static/images/header@2x.png">
                        <source src="/static/videos/banner.mp4" type="video/mp4" />
                    </video>
                </div>

                <div class="promo-call-text">
                    Call and ask how to get the allowance!
                </div>

                <div class="promo-call-button">
                    <a href="#"> <img src="/static/images/green@2x.png" alt="" width="18px" height="18px"> 833-542-1336
                    </a>
                </div>

                <div class="promo-agent-text">
                    Licensed insurance agents available now!
                </div>

            </div>

        </div>
    </section>

    <section class="page1">
        <div class="eligibility-container">
            <div class="eligibility-headline">
                Check Eligibility Here
            </div>
            <div class="eligibility-text-container">
                <div class="elegibility-text">
                    <span style=" font-weight: bold;">Americans over 64</span> have the exclusive opportunity to claim
                    their <span style=" font-weight: bold;">2023 allowance benefits</span> this week!
                    <br><br>
                    <span style=" font-weight: bold;">These special allowance benefits</span> were approved to help pay
                    for<span style=" font-weight: bold;">food, groceries, bills, dental,
                        health,
                        and your essential needs.</span> <br><br>
                    <span style=" font-weight: bold;">With over 90,000 items covered by these updates, you can have
                        almost anything you
                        need COVERED!</span>
                </div>
                <div class="todo-container">
                    <div class="todo-text">
                        ALL YOU HAVE TO DO IS :
                    </div>
                    <div class="todo-step-container">
                        <!-- step1 -->
                        <div class="todo-step">
                            <img src="/static/images/check-circle@x2.png" alt="" srcset="">
                            <div style="color: #122E51;"> <span style="color: #185394;">Step 1:</span> Confirm your age
                                <br>
                                below...
                            </div>
                        </div>
                        <!-- step2 -->
                        <div class="todo-step">
                            <img src="/static/images/check-circle@x2.png" alt="" srcset="">
                            <div style="color: #122E51;"> <span style="color: #185394;">Step 2:</span> Call the number
                                <br>
                                provided...
                            </div>
                        </div>
                        <!-- step3 -->
                        <div class="todo-step">
                            <img src="/static/images/check-circle@x2.png" alt="" srcset="">
                            <div style="color: #122E51;"> <span style="color: #185394;">Step 3:</span> Claim your
                                UPDATED allowance for 2023...
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- QUESTION -->

            <div class="question-container">
                <div class="question-headline">
                    ARE YOU OVER THE AGE OF 64?
                </div>
                <div class="question-button-container">
                    <div class="question-flex">
                        <a href="#" index="1">Yes</a>
                        <a href="#" index="1">No</a>
                    </div>
                    <a href="#" index="1">Skip this Question</a>
                </div>
                <div class="question-notice">
                    <span style="font-weight: bold;">NOTICE:</span> A licensed agent will help you discover the best
                    benefits (new for 2023) for
                    you at
                    no cost and absolutely no obligation to you. This will not effect your social security.
                </div>
            </div>


        </div>

    </section>
    <!-- 2nd page -->
    <section class="page2 hidden">
        <div class="thank-you-page-container">
            <div class="thank-you-headline">
                <span style="color:#3296DF;">GREAT NEWS!</span> <br> We secured your spot!
            </div>
            <div class="thank-you-confirmation-container">
                <div class="confirmation-text">
                    To confirm and activate your new benefits, <br> Call now!
                </div>
                <div class="thank-call-button">
                    <a href="#"> <img src="/static/images/green@2x.png" alt="" width="18px" height="18px"> Call:
                        833-542-1336
                    </a>
                </div>
                <div class="question-notice">
                    <span style="font-weight: bold;">NOTICE:</span> A licensed agent will help you discover the best
                    benefits (new for 2023) for
                    you at
                    no cost and absolutely no obligation to you. This will not effect your social security.
                </div>

            </div>
        </div>

    </section>

    <footer>
        <div class="footer-container">
            <div class="footer-title">
                <span style="color:#FCAF10; font-weight: bold;">MedicareForAmericans</span>.net
            </div>
            <div class="footer-links">
                © 2013-2022 |
                <span><a href="#">Privacy Policy</a></span> |
                <span><a href="#">Terms</a></span>|
                <span><a href="#">Cookie Policy</a></span> |
                <span><a href="#">Disclaimer</a></span>|
                <span><a href="#">TCPA1</a></span>|
                <span><a href="#">TCPA2</a></span> |
                <span><a href="#"> Contact Us</a></span>

            </div>
            <div class="footer-disclosures">
                <div class="disclosures-title">
                    IMPORTANT DISCLOSURES:
                </div>
                Must be 64 years of age or older to qualify. The Flex Card is only available with specific plans.
                Restrictions apply.
            </div>
        </div>
    </footer>












    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-headline">
            Just one click away from claiming your <span style="color:#FCAF10;">new benefits and monthly allowance of up
                to <br> $3,300!</span>
        </div>
        <div class="modal-content">

            <div style="margin: auto auto 40px auto; box-shadow: none; position: relative; padding-top: 30px;"
                class="question-container">
                <span class="close"><img src="/static/images/Icon ionic-ios-close-circle@2x.png" alt="" width="30px"
                        height="30px"></span>
                <div class="question-headline">
                    ARE YOU CURRENTLY A US RESIDENT?
                </div>
                <div class="question-button-container">
                    <div class="question-flex">
                        <a index="1" href="#">Yes</a>
                        <a index="1" href="#">No</a>
                    </div>
                    <a index="1" href="#">Skip this Question</a>
                </div>

            </div>


        </div>
        <div class="progress-text">Eligibility almost complete...</div>
        <div class="progress-bar"></div>
    </div>

    <!-- Modal2 -->
    <div id="myModal2" class="modal">
        <div class="modal-headline">
            <span style="color:#FCAF10; font-size: 35px;">WAIT!</span> <br> Don't lose your spot! <br> We're holding
            your
            spot for <br> another
            5
            minutes!
        </div>
        <div class="modal-content">

            <div style="margin: auto auto 45px auto; box-shadow: none; position: relative;" class="question-container">
                <span class="close"><img src="/static/images/Icon ionic-ios-close-circle@2x.png" alt="" width="30px"
                        height="30px"></span>
                <div class="question-headline" style="font-size: 25px;">
                    To confirm and activate your new benefits, <br> Call now!
                </div>
                <div class="question-button-container">
                    <div class="thank-call-button">
                        <a href="#"> <img src="/static/images/green@2x.png" alt="" width="18px" height="18px"> Call:
                            833-542-1336
                        </a>
                    </div>
                </div>

            </div>


        </div>
        <div id="countdown" class="progress-text"> <span style="color:#3296DF;">00 : 02 : 59</span> time left...</div>
    </div>

    <script src="/static/script/modal.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/script/quiz-engine.js"></script>

</body>

</html>