/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    height: 950px;
  }

  .modal-headline{
    text-align: center;
    color: #FFFFFF;
    width: 380px;
    margin: 130px auto 20px auto;
    font-size: 25px;
    font-weight: bold;

  }
  
  .modal-content {
    background-color: #185394;
    border-radius: 3px;
    margin: auto;
    /* padding: 20px; */
    border: 1px solid #E9EAEB;
    width: 80%;
    max-width: 380px;
    margin-bottom: 26px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Button styles */
  .modal-btn {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-btn:hover {
    background-color: #3e8e41;
  }
  
  /* Hide scrollbar for body when modal is open */
  body.modal-open {
    overflow: hidden;
  }
  
  /* Progress bar styles */
  .progress-bar {
    width: 380px;
    height: 19px;
    background-color: #FFFFFF;
    border:solid 2px #FFFFFF;
    border-radius: 10px;
    /* position: absolute; */
    /* bottom: 500px;
    right: 25%; */
    margin: auto;

  }
  
  .progress-bar::before {
    content: "";
    display: block;
    height: 100%;
    background-color: #3296DF;
    border-radius: 10px;
    width: 75%;
  }

  .progress-text{
    font-size: 18px;
    color: #FFFFFF;
    margin: auto;
    width: 380px;
    text-align: center;
    margin-bottom: 17px;
  }
  
  /* Adjust progress bar height and margin */
  .modal-content p {
    margin-bottom: 10px;
  }
  
  /* Adjust close button position */
  .close {
    position: absolute;
    top: -15px;
    right: -15px;
  }

  .modal-title{
    position: absolute;
    top: 50px;
    left: 15%;
  }